.user-profile-pic {
  height: 150px;
  border-radius: 100px;
  overflow: hidden;
  justify-self: center;
}

.card {
  border-radius: 0;
}

@media (max-width: 999px) {
  .visible\@l {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hidden\@l {
    display: none;
  }
}
